{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": ["^[./]", "^(../)(.*)$", "^(react|next|...|@?\\w)", "^(~|@)?\\w", "^(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}