.loadingContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingCircle {
    width: 50px;
        /* Ширина круга */
        height: 50px;
        /* Высота круга */
        background-color: #3A36DB;
        /* Цвет фона */
        border-radius: 50%;
        /* Радиус границ для создания круга */
        display: inline-block;
        /* Позволяет использовать стиль в строке */
}