.loadingContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingCircle {
    width: 50px;
        height: 50px;
        background-color: #3A36DB;
        border-radius: 50%;
        display: inline-block;
}